html, body{
  height: 100%;
  margin: 0;
}

.blank{
  background-color: #ffffff;
 
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #cccccc;
} 

.blank2{
  background-color: #ffffff;
  width: 100%;
  margin: 20px 0px;
  padding: 15px;
  border: 1px solid #cccccc;
} 

header{
  background-color: #4aaaa5;
  color: #ffffff;
  height: 100%;
  font-size: 24px;
  text-align: center;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  margin: 0px;
  padding-top: 5px;
}

body{
  background-image: url("../images/ripples.png");
  margin: 0px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  color: slategray;
}


footer{

  background-color: #666666;
  border-top: 8px solid #4aaaa5;
  padding-top: 10px;
  height: 50px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  
}


h1{
  color:#4aaaa5;
}


.picture2{
  position: relative;
  width: 299px;

} 
.bottom {
  position: absolute;
  z-index: 8;
  bottom: 30px;
  left: 15px;
  width: 299px;
  background-color: #4aaaa5;
  height: 30px;
  text-align: center;
  color: #ffffff;
  padding-top: 5px;
  top: 200px; 
  
}


.space{
  margin-top: 15px;
  margin-bottom: 15px;
}


.content{
  flex: 1 0 auto;
}

p{
  line-height: 40px;
}

.right{
  float: right;
}

.nav{
  text-align: center;
}

li{
  display: inline-block
}



h4{
  line-height: 5px;
}


a{
  color: #666666;
  text-decoration: none;
}

#bio-image{
  float: left;
  margin-right: 10px;
  margin-bottom: 4px;
}
